body {
  font-family: "Open Sans", sans-serif;
  background-color: rgba(80, 71, 70, 0.53); /* Use rgba for better color management */
  margin: 0;
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/recipebg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 2.5rem; /* Use rem for better scalability */
  color: #ffd639;
}

button {
  width: 100%; /* Make the button full width for smaller screens */
  max-width: 300px; /* Limit the maximum width for larger screens */
  padding: 10px;
  background-color: #e24e1b;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto 20px; /* Center the button */
  display: block;
}

button:hover {
  background-color: #218838;
  color: #ffd639;
}

.recipe-list {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Adjusted min-width for better responsiveness */
  gap: 20px;
}

.recipe {
  background-color: #fbaf00;
  padding: 15px;
  border-radius: 10px;
}

.recipe h2 {
  margin: 0 0 10px;
  font-size: 1.5rem; /* Use rem for better scalability */
  font-weight: 900;
}

.recipe img {
  width: 100%;
  border-radius: 4px;
}

.recipe p {
  margin: 5px 0;
  color: #1d1d1d;
  font-size: 1rem; /* Use rem for better scalability */
  padding-bottom: 20px;
}

.recipe a {
  background-color: #e24e1b;
  text-decoration: none;
  border-radius: 20px;
  padding: 8px;
  color: white;
  display: inline-block; /* Ensure link behaves like a button */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem; /* Smaller font size for smaller screens */
  }

  button {
    font-size: 14px; /* Adjust button font size */
  }

  .recipe-list {
    grid-template-columns: 1fr; /* Stack recipes in one column */
  }
}
